A {
	COLOR: #039; TEXT-DECORATION: none
}
A:hover {
	COLOR: #039; TEXT-DECORATION: underline
}
.menu A {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial, Sans-Serif; TEXT-DECORATION: none
}
.menu A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial, Sans-Serif; TEXT-DECORATION: none
}
.menu A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial, Sans-Serif; TEXT-DECORATION: none
}
.menu A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial, Sans-Serif; TEXT-DECORATION: underline
}
.menu {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial, Sans-Serif; TEXT-DECORATION: none
}
.chapter {
	FONT-WEIGHT: lighter; FONT-SIZE: 30px; COLOR: #333333; FONT-STYLE: normal; FONT-FAMILY: Gill Sans, Arial, Sans-Serif
}
.newlisthead {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LIST-STYLE-IMAGE: url(images/puce.gif); COLOR: #333333; FONT-FAMILY: Lucida Grande, Arial, Sans-Serif
}
.newlistmain {
	LIST-STYLE: disc url(images/newitem.gif) outside; FONT-SIZE: 11px; COLOR: #333333; FONT-STYLE: normal; FONT-FAMILY: Lucida Grande, Trebuchet MS, Arial, Sans-Serif; TEXT-ALIGN: justify
}
.newlistjustify {
	FONT-SIZE: 10px; LIST-STYLE-IMAGE: url(images/puce.gif); COLOR: #333333; FONT-FAMILY: Lucida Grande, Arial, Sans-Serif; LIST-STYLE-TYPE: disc; TEXT-ALIGN: justify
}
.newlistindent {
	FONT-SIZE: 10px; LIST-STYLE-IMAGE: url(images/puce.gif); COLOR: #333333; FONT-FAMILY: Lucida Grande, Arial, Sans-Serif; LIST-STYLE-TYPE: disc; TEXT-ALIGN: left
}
.bookgrey {
	FONT-SIZE: 10px; LIST-STYLE-IMAGE: url(images/puce.gif); COLOR: #999999; FONT-FAMILY: Lucida Grande, Arial, Sans-Serif; LIST-STYLE-TYPE: disc; TEXT-ALIGN: left
}
.submit {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; WIDTH: 115px; COLOR: #ffffff; BACKGROUND-COLOR: #ff6600
}
INPUT {
	BORDER-TOP-WIDTH: 0.1em; FONT-WEIGHT: normal; BORDER-LEFT-WIDTH: 0.1em; FONT-SIZE: 10px; BORDER-LEFT-COLOR: #a0a0a0; BORDER-BOTTOM-WIDTH: 0.1em; MARGIN-BOTTOM: 0pt; BORDER-BOTTOM-COLOR: #a0a0a0; COLOR: #5c6769; BORDER-TOP-COLOR: #a0a0a0; FONT-FAMILY: Arial, Helvetica, Sans serif; BACKGROUND-COLOR: #ffffcc; TEXT-ALIGN: justify; BORDER-RIGHT-WIDTH: 0.1em; BORDER-RIGHT-COLOR: #a0a0a0
}
SELECT {
	BORDER-TOP-WIDTH: 0.1em; BORDER-LEFT-WIDTH: 0.1em; FONT-SIZE: x-small; BORDER-LEFT-COLOR: #a0a0a0; BORDER-BOTTOM-WIDTH: 0.1em; BORDER-BOTTOM-COLOR: #a0a0a0; BORDER-TOP-COLOR: #a0a0a0; BACKGROUND-COLOR: #ffffcc; BORDER-RIGHT-WIDTH: 0.1em; BORDER-RIGHT-COLOR: #a0a0a0
}
